<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	  <targets>
				<target name="asyncWebService" xsi:type="AsyncWrapper">
						<target xsi:type="WebService"
          name="webService"
          url="http://www.dayzcommander.com/ApplicationError/Create"
          protocol="HttpPost">
								<parameter name="date" type="System.String" layout="${date}"/>
								<parameter name="message" type="System.String" layout="${message}"/>
								<parameter name="logger" type="System.String" layout="${logger}"/>
								<parameter name="level" type="System.String" layout="${level}"/>
			</target>
		</target>
	</targets>
	
	<rules>
			<logger name="*" minlevel="Error" writeTo="asyncWebService" />		
	</rules>
	
</nlog>